<div class="main-page banner-page j-banner-page">
	<h2>Banner</h2>
	<button class="btn btn-primary" @click="winShow=true;">+Add</button>
	
	<!-- 弹窗 -->
	<comp-window :title="title" :show="winShow" @cancel="winHide">
		<div slot="content">
			<div>
				<label>Title</label>
				<input class="form-control" type="text" />
			</div>
			<div>
				<label>Description</label>
				<textarea class="form-control"></textarea>
			</div>
			<br>
			<div>
				<button class="btn btn-primary" @click="chooseImg">Choose image</button>
			</div>
			<br>
			<div v-show="previewSrc">
				<img class="preview-img" :src="previewSrc" />
			</div>
			<div v-show="previewSrc">
				<button class="btn btn-primary" @click="uploadImg">Upload</button>
			</div>

			<form class="global-hide">
				<input type="file" ref="file_input" @change="selectImg" />
			</form>
		</div>
	</comp-window>

	<div class="page-content">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>title</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>haha</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
