<div class="main-page banner-page j-banner-page" v-cloak>
	<h2>Banner</h2>
	<button class="btn btn-primary" @click="winShow=true;">+Add</button>
	
	<!-- 弹窗 -->
	<comp-window :title="name" :show="winShow" @cancel="winHide" v-cloak>
		<div slot="content">
			<div>
				<label>Title</label>
				<input v-model="title" class="form-control" type="text" />
			</div>
			<div>
				<label>Description</label>
				<textarea v-model="des" class="form-control"></textarea>
			</div>
			<br>
			<div>
				<button class="btn btn-primary" @click="chooseImg">Choose image</button>
			</div>
			<br>
			<div v-show="previewSrc">
				<img class="preview-img" :src="previewSrc" />
			</div>
			<div v-show="previewSrc">
				<button class="btn btn-primary" @click="uploadImg">Upload</button>
			</div>

			<input class="global-hide" type="file" ref="file_input" @change="selectImg" />
		</div>
	</comp-window>

	<div class="page-content">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Image</th>
					<th>Operate</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in list">
					<td>{{index}}</td>
					<td>{{item.title}}</td>
					<td>
						{{item.image}}
						<img :src="item.image" />
					</td>
					<td>
						<button class="btn btn-danger" @click="delItem(item)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
