<!DOCTYPE html>
<html>
<head>
<script src="/frames/jquery-3.1.1.min.js"></script>
<script src="/frames/vue.min.js"></script>

<script src="libs.js"></script>
<script src="layout.js"></script>

<link rel="stylesheet" type="text/css" href="/frames/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="libs.css" />
<link rel="stylesheet" type="text/css" href="layout.css" />
<link rel="stylesheet" type="text/css" href="/frames/bootstrap.min.css" />
<%- defineContent('static') %>
</head>

<body>
<@ GLOBAL header @>

<%- defineContent('body') %>
<script>
</script>
</body>
</html>
