<div class="login-content j-login-content">
	<div class="form-group">
		<input class="form-control" v-model="name" placeholder="User" />
	</div>
	<div class="form-group">
		<input class="form-control" v-model="password" placeholder="Password" type="password" />
	</div>
	<div class="form-group global-hide">
		<button class="btn btn-default submit-btn" @click="register" type="button">REGISTER</button>
	</div>
	<div class="form-group">
		<button class="btn btn-default submit-btn" @click="login" type="button">LOGIN</button>
	</div>
	<p class="id-error" v-show="error">Identify Error</p>
</div>
