.login-content {
	width: 360px;
	margin: 0 auto;
	padding: 40px 20px;;
	margin-top: 60px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid @grey;

	.submit-btn {
		width: 100%;
		color: #fff;
		background-color: @blue;
		border: 1px solid @blue;
		padding: 10px 0;
	}
}
