<%- contentFor('static')%>
<link rel="stylesheet" type="text/css" href="page.css" />
<script src="/frames/dropzone.js"></script>
<script src="page.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%- contentFor('body')%>
<div class="main-content container-fluid">
	<div class="content row">
		<div class="sidebar col-md-2">
			<a href="/back/banner">Banner</a>
		</div>

		<div class="col-md-10">
		<% if( page == 'banner' ){ %>
			<@ WIDGET banner @>
		<% } else { %>
			<p>welcome</p>
		<% } %>
		</div>
	</div>
</div>

<@ WIDGET page @>
<@ WIDGET window @>

<script>
function vueObj(obj){
	console.log(JSON.parse(JSON.stringify(obj)));
}
G_Module.initModule([
	'window',
	'page',
	'banner'
], {
	result: <%- JSON.stringify(result) %>
});
</script>
