<%- contentFor('static')%>
<link rel="stylesheet" type="text/css" href="page.css" />
<script src="/frames/dropzone.js"></script>
<script src="page.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%- contentFor('body')%>

<% if( page == 'login' ){ %>
<@ WIDGET login @>

<% } else { %>
<div class="main-content j-container">
	<div class="page">
		<div class="nav">
			<div class="list-group">
				<a href="/back/banner" class="list-group-item active">Banner</a>
				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			</div> 
		</div>

		<div class="content container-fluid">
		<% if( page == 'banner' ){ %>
			<@ WIDGET banner @>
		<% } else { %>
			<p>welcome</p>
		<% } %>
		</div>
	</div>
</div>

<@ WIDGET page @>
<@ WIDGET window @>

<script>
function vueObj(obj){
	console.log(JSON.parse(JSON.stringify(obj)));
}
G_Module.initModule([
	'window',
	'page',
	'banner'
], {
	page: "<%= page %>",
	result: <%- JSON.stringify(result) %>
});
</script>
<% } %>
